---
import BaseLayout from "@layouts/BaseLayout.astro";
import FirstOrionLogo from "../images/firstorion.svg";
import DillardsLogo from "../images/dillards.svg";
import LovesLogo from "../images/loves.svg";
import ArmyNGLogo from "../images/armyng.svg";
import WalmartLogo from "../images/walmart.svg";
import QRCode from "../images/qr-code.svg";

import Envelope from "astro-heroicons/solid/Envelope.astro";
import Phone from "astro-heroicons/solid/Phone.astro";
import GlobeAlt from "astro-heroicons/solid/GlobeAlt.astro";
import DocumentArrowDown from "astro-heroicons/solid/DocumentArrowDown.astro";
import Printer from "astro-heroicons/solid/Printer.astro";

const skills: {
  skillName: string;
  skillLevel: "expert" | "advanced" | "proficient" | "familiar";
}[] = [
  {
    skillName: "Go",
    skillLevel: "expert",
  },
  {
    skillName: "HTML/CSS",
    skillLevel: "expert",
  },
  {
    skillName: "Kubernetes",
    skillLevel: "advanced",
  },
  {
    skillName: "Docker",
    skillLevel: "expert",
  },
  {
    skillName: "Linux",
    skillLevel: "expert",
  },
  {
    skillName: "Bash",
    skillLevel: "expert",
  },
  {
    skillName: "Technical Writing",
    skillLevel: "advanced",
  },
  {
    skillName: "Git",
    skillLevel: "advanced",
  },
  {
    skillName: "AWS",
    skillLevel: "proficient",
  },
  {
    skillName: "Terraform",
    skillLevel: "advanced",
  },
  {
    skillName: "TypeScript",
    skillLevel: "proficient",
  },
  {
    skillName: "Svelte/SvelteKit",
    skillLevel: "proficient",
  },
];

const workHistory: {
  company: string;
  title: string;
  startDate: string;
  endDate: string;
  description: string;
  skillsUsed?: string[];
  companyLogo?: string;
}[] = [
  {
    company: "First Orion",
    title: "Software Engineer",
    startDate: "January 2022",
    endDate: "Present",
    description: `I work in the R&D department, where I work with a team of engineers to build new products and features
      for our customers. The day-to-day technologies change and I'm often given the freedom to explore new technologies
      for our projects. The projects I work on are primarily written in Go and make heavy use of Kubernetes and AWS. In addition to those projects,
      I created a polyglot notebook application that glues together Netflix's polynote project with Databricks for easier
      data-engineering workflows. On my team, I'm known as the unblocker for my ability to troubleshoot quickly. I've
      also put a lot of effort into improving team tooling for productivity and I've written several scripts to automate
      setting up a new developer's environment.`,
    skillsUsed: [
      "Go",
      "Kubernetes",
      "Docker",
      "Linux",
      "Bash",
      "AWS",
      "Terraform",
      "TypeScript",
      "Vue",
      "Protobuf",
      "gRPC",
      "Git",
      "Scala",
      "Bitbucket",
      "Jira",
      "Confluence",
      "CodePipeline",
      "CodeBuild",
    ],
    companyLogo: FirstOrionLogo,
  },
  {
    company: "Dillard's",
    title: "System Administrator",
    startDate: "April 2021",
    endDate: "January 2022",
    description: `I was a member of the infrastructure team and I was primarily tasked with caring for the runtime environments of
      many external and internal applications, consisting of Tomcat and WebSphere servers running on a mix of AIX and
      RHEL hosts on Power 9 hardware. I was also one of the key team-members responsible for maintaining the company's
      ecommerce platform. Between these duties, I helped automate the company's migration process from CVS to Git and
      spent a great deal of time working with CI/CD pipelines on our internal Gitlab instance. I also developed helm
      charts and build pipelines for our internal Openshift environment, mainly focused on the logging and observability
      stacks.`,
    skillsUsed: [
      "Linux",
      "Bash",
      "Git",
      "Docker",
      "Kubernetes",
      "Terraform",
      "TypeScript",
      "OpenShift",
      "Red Hat Enterprise Linux",
      "AIX",
      "Gitlab",
      "Java",
      "Web Security",
      "NodeJS",
    ],
    companyLogo: DillardsLogo,
  },
  {
    company: "Love's Travel Stops",
    title: "Travel Stop General Manager",
    startDate: "September 2017",
    endDate: "April 2021",
    description: `I was responsible for the day-to-day operations of a 24-hour travel stop. I was responsible for managing a staff of
      20-30 employees, including hiring, training, and scheduling. I was also responsible for managing the store's budget,
      including payroll, inventory, and expenses. I had ~10 managerial direct reports, including assistant managers, shift
      leaders, and profit-center managers and I was responsible for their training and development.`,
    skillsUsed: ["Leadership", "Training", "Budgeting", "Mentoring", "Scheduling", "P&L", "Inventory", "Payroll", "HR"],
    companyLogo: LovesLogo,
  },
  {
    company: "Arkansas Army National Guard",
    title: "68W1O (Combat Medic)",
    startDate: "November 2011",
    endDate: "November 2017",
    description: `I was a combat medic in the Arkansas Army National Guard. My primary focus at all times was the medical readiness
      of my unit. I assisted with the training and development of my unit's medics and I was responsible for the medical
      reporting of other medics in my section during field operations. During garrison operations, I was responsible for
      maintaining the unit's medical equipment and supplies.`,
    skillsUsed: ["Leadership", "Training", "Mentoring", "Medical Reporting", "Medical Equipment Maintenance"],
    companyLogo: ArmyNGLogo,
  },
  {
    company: "Walmart Stores Inc.",
    title: "Assistant Manager",
    startDate: "October 2008",
    endDate: "September 2017",
    description: `I was responsible for the day-to-day operations of the deparments I managed. I managed a staff of 10-15 employees, including
      hiring, training, and scheduling. I was also responsible for managing my portions of the store's budget, including payroll, inventory,
      and expenses. I had anywhere from 2 to 5 department managers reporting to me, depending on my assigned departments. I
      was responsible for their training and development as well as for merchandising and maintaining the appearance
      of their departments.`,
    skillsUsed: [
      "Leadership",
      "Training",
      "Budgeting",
      "Mentoring",
      "Scheduling",
      "P&L",
      "Inventory",
      "Payroll",
      "HR",
      "Merchandising",
    ],
    companyLogo: WalmartLogo,
  },
];
---

<BaseLayout pageTitle="Zach Callahan Resume - ZMC.DEV">
  <article>
    <p></p>
    <header>
      <img src={QRCode} alt="QR code that links to this resume page." class="qr-code-image" />
      <img src="zach.png" alt="Picture of Zach Callahan, a balding, chubby, super-nice guy" />
      <div>
        <p>
          <a href="tel:14794595787">
            <Phone />
            1 (479) 459-5787
          </a>
          <a href="mailto:zach@zmc.dev">
            <Envelope />
            zach@zmc.dev
          </a>
          <a href="https://zmc.dev">
            <GlobeAlt />
            zmc.dev
          </a>
          <a href="/ZachCallahanResume.pdf" download="Zach Callahan - Resume.pdf" class="download-resume no-print">
            <DocumentArrowDown />
            Download PDF
          </a>
          <a href="javascript:window.print()" class="print-resume no-print">
            <Printer />
            Print
          </a>
        </p>
        <h1>Zach Callahan</h1>
        <h2>SysAdmin turned Software Engineer</h2>
      </div>
    </header>
    <section class="about">
      <h3>About Me</h3>
      <p>
        I'm currently working as a Software Engineer, but I was previously a System Administrator and prior to that I
        excelled in retail operations. Automation and tooling are my passions. My goal is to make my and my team's jobs
        easier today than they were yesterday. Bash and Go are the languages I use most often, but I'm always looking
        for new tools to add to my toolbox. I'm a <em>mostly</em> self-taught developer/sysadmin and I've been working with
        Linux in some capacity daily since 2006. I'm an advocate of open-source software and protocols and I believe that
        the best solutions are the ones that are built by a community.
      </p>
      <p>
        Prior to my career transition into tech, I worked in retail management for 9 years, most recently as a General
        Manager for a Love's Travel Stops and as an Assistant Manager for Walmart prior to that. Working in retail, and
        especially in management, taught me a great deal about people and how to work with them. I'm a firm believer in
        treating people with respect and valuing their contributions. Everyone has at least one strength and I pride
        myself on identifying and developing those strengths in my team members. Being an individual contributor hasn't
        dulled that sense of responsibility. Whether I'm working on a team or working alone, I always strive to leave
        things better than I found them.
      </p>
      <p>
        During my time working retail, I also served in the Arkansas Army National Guard as a Combat Medic. I found my
        time in the military to be a great learning experience and I'm proud to have served my country. I learned a
        great deal about leadership and teamwork, and I'm grateful for the opportunity to have served. I was honorably
        discharged in 2017.
      </p>
      <p>
        If I'm not working, I'm probably spending time with my girlfriend and our three dogs. I enjoy tinkering with
        computers and electronics, so I'm always looking for new projects to work on. On occasion, I teach a Git class
        at the <a href="https://arkansascodingacademy.com/">Arkansas Coding Academy.</a>
      </p>
    </section>
    <section class="skills">
      <h3>Top Skills</h3>
      <ul>
        {
          skills.map((skill) => (
            <li>
              <span class={`skill-level skill-level-${skill.skillLevel}`}>{skill.skillLevel}</span>
              <span class="skill-name">{skill.skillName}</span>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="work-history">
      <h3>Work History</h3>
      {
        workHistory.map((job) => (
          <div class="job">
            <aside>
              {job.companyLogo && <img src={job.companyLogo} alt={`Logo for ${job.company}`} />}
              <h5>{job.company}</h5>
              <ul>
                {job.skillsUsed?.map((skill) => (
                  <li>{skill}</li>
                ))}
              </ul>
            </aside>
            <div>
              <h4>{job.title}</h4>
              <h6>
                {job.startDate} - {job.endDate}
              </h6>
              <p>{job.description}</p>
            </div>
          </div>
        ))
      }
    </section>
  </article>
</BaseLayout>

<style>
  article {
    background: #ffffff55;
    border: 1px solid #ffffff77;
    box-shadow: 0 0 0.5rem 0.1rem #00000011;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    position: relative;
  }
  @media print {
    article {
      background: #ffffff;
      border: 0;
      box-shadow: none;
      padding: 0;
      border-radius: 0;
      margin-bottom: 0;
      width: 100%;
      position: relative;
    }
  }
  article > p {
    text-align: right;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0;
    color: ;
  }
  article > p > a {
    margin-left: 1rem;
  }
  header {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
  }
  header > img.qr-code-image {
    width: 7rem;
    height: 7rem;
    border-radius: 0.5rem;
    border: 0.3rem solid #ffffff99;
    display: none;
  }
  @media print {
    header > img.qr-code-image {
      display: block;
    }
  }
  header > img {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    border: 0.3rem solid #ffffff99;
  }
  header > div {
    flex: 1;
  }
  header > div > h1 {
    font-size: 5rem;
    font-weight: 200;
    text-align: center;
    line-height: 1;
    margin: 1rem;
  }
  header > div > h2 {
    font-size: 1.5rem;
    color: #000000bb;
    text-align: center;
    margin: 0;
    font-weight: 300;
  }
  header > div > p {
    text-align: center;
    justify-content: center;
    margin: 0;
    font-size: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  header > div > p > a {
    display: flex;
    align-items: center;
    color: #000000bb;
  }
  header > div > p > a:hover {
    color: #000000ff;
  }
  header > div > p > a > svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
  @media (min-width: 768px) {
    header > div > p {
      text-align: left;
    }
  }
  .about {
    margin-top: 1rem;
  }
  .about > p {
    margin: 0;
    margin-bottom: 1rem;
    text-align: justify;
  }
  .skills {
    margin-top: 1rem;
  }
  h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 200;
    margin: 0 -1rem;
    margin-bottom: 1rem;
    background: #ffffff33;
    border: 1px solid #ffffff44;
    border-width: 1px 0;
    padding: 0.5rem 1rem;
  }
  .skills > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .skills > ul > li {
    display: flex;
    flex-grow: 1;
    align-items: center;
    background: #ffffff99;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 0.1rem solid #ffffff99;
    box-shadow: 0 0 0.25rem 0.1rem #00000011;
    justify-content: space-between;
    transition: all 0.1s ease-in-out;
  }
  .skills > ul > li > span {
    display: inline-block;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
  }
  .skills > ul > li > span.skill-level {
    text-transform: uppercase;
    text-align: center;
    min-width: 4rem;
    font-size: 0.5rem;
    background: #ffffff;
    padding: 0.25rem;
    border: 1px solid #00000033;
    color: #00000099;
  }
  .skills > ul > li > span.skill-name {
    font-size: 0.9rem;
    font-weight: 800;
    margin: 0.5rem;
    flex-grow: 1;
    text-align: center;
  }
  .skills > ul > li > span.skill-level::before {
    content: "";
    display: inline-block;
    height: 0.5rem;
    overflow: hidden;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 0.125rem;
  }
  .skills > ul > li > span.skill-level-proficient::before {
    background: linear-gradient(90deg, rgba(110, 181, 73, 1) 0%, rgba(110, 181, 73, 1) 50%, rgba(110, 181, 73, 0) 50%);
  }
  .skills > ul > li > span.skill-level-advanced::before {
    background: linear-gradient(90deg, rgba(110, 181, 73, 1) 0%, rgba(110, 181, 73, 1) 75%, rgba(110, 181, 73, 0) 75%);
  }
  .skills > ul > li > span.skill-level-expert::before {
    background: linear-gradient(90deg, rgba(110, 181, 73, 1) 0%, rgba(110, 181, 73, 1) 100%);
  }
  @media print {
    .skills > ul > li {
      flex-grow: 0;
    }
    .skills > ul > li > span.skill-level::before {
      display: none;
    }
  }
  .work-history {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .work-history > .job {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  @media (min-width: 768px) {
    .work-history > .job {
      flex-direction: row;
    }
  }
  @media print {
    .work-history > .job {
      flex-direction: row;
    }
  }
  .work-history > .job > aside {
    flex: 0 0 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0.5rem;
  }
  .work-history > .job > aside > img {
    background: #ffffff99;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 0.1rem solid #ffffff99;
    box-shadow: 0 0 0.25rem 0.1rem #00000011;
  }
  .work-history > .job > aside > h5 {
    font-size: 1rem;
    text-align: center;
    margin: 0;
    margin-top: 0.5rem;
  }
  .work-history > .job > aside > img ~ h5 {
    display: none;
  }
  .work-history > .job > div > h6 {
    font-size: 0.75rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .work-history > .job > aside > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .work-history > .job > aside > ul > li {
    font-size: 0.5rem;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 0.1rem solid #ffffff99;
    background: #ffffff99;
    box-shadow: 0 0 0.25rem 0.1rem #00000011;
    flex-grow: 1;
    transition: all 0.1s ease-in-out;
  }
  .work-history > .job > aside > ul > li:hover {
    scale: 1.1;
  }
  .work-history > .job > div {
    flex: 1;
  }
  .work-history > .job > div > h4 {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .work-history > .job > div > p {
    font-size: 0.9rem;
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: justify;
  }
</style>
