---
interface Props {
  post: Record<string, any>;
}
const { post } = Astro.props;
let date = new Date(post.frontmatter.date + "T12:00:00").toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

if (date === "Invalid Date") {
  date = post.frontmatter.date;
}
---

<a href={post.url}>
  <article>
    <img
      src={post.frontmatter.image ? post.frontmatter.image.url : "/journalist-on-laptop.png"}
      alt={post.frontmatter.image ? post.frontmatter.image.alt : "AI-generated image of journalist on laptop"}
      loading="lazy"
    />
    <header>
      <h2>{post.frontmatter.title}</h2>
      <p>{post.frontmatter.description}</p>
    </header>
    <footer>
      <div>
        <p>
          <time datetime={date}>
            {date}
          </time>
        </p>
      </div>
      <div>
        {post.frontmatter.tags.map((tag: string) => <p>{tag}</p>)}
      </div>
    </footer>
  </article>
</a>

<style>
  a {
    color: inherit;
    text-decoration: none;
  }
  h2,
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  article {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.075s ease-in-out;
    z-index: 1;
    font-size: 0.8rem;
  }
  article:hover {
    scale: 1.05;
    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.5);
  }
  article:active {
    scale: 1.025;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    z-index: -1;
  }
  header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: #00000080;
    color: white;
    backdrop-filter: blur(0.5rem);
    border-top: 1px solid #00000099;
  }
  header > p {
    display: none;
  }
  @media (min-width: 450px) {
    header > p {
      display: block;
    }
  }
  footer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.75rem;
    background: #00000080;
    color: white;
    backdrop-filter: blur(0.5rem);
  }
  time {
    padding: 0.25rem 0.5rem;
  }
  footer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00000099;
  }
  footer > div:last-of-type {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
  }
  footer > div:last-of-type > p {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background: #ffffff22;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
  }
</style>
