---
import "@styles/global.scss";
import Header from "@components/Header.astro";
import type Social from "@lib/types/social";
import { FileUser, Github, Linkedin, Mail } from "@lucide/astro";
import SocialList from "@components/SocialList.astro";

interface Props {
  pageTitle: string;
  tags?: string[];
  metaDescription?: string;
  metaImage?: string;
  isIndex?: boolean;
}

const { pageTitle, isIndex } = Astro.props;
const socials: Social[] = [
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/thezmc/",
    icon: Linkedin,
  },
  {
    name: "GitHub",
    url: "https://github.com/theZMC/",
    icon: Github,
  },
  {
    name: "Email",
    url: "mailto:inquiries@zmc.dev",
    icon: Mail,
  },
  {
    name: "Resume",
    url: "/resume",
    icon: FileUser,
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={Astro.props.metaDescription} />
    <meta name="keywords" content={Astro.props.tags?.join(", ")} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@theZMC" />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={Astro.props.metaDescription} />
    {
      Astro.props.metaImage ? (
        <meta name="twitter:image" content={Astro.props.metaImage} />
      ) : null
    }
    <meta property="og:title" content={pageTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.request.url} />
    {
      Astro.props.metaImage ? (
        <meta property="og:image" content={Astro.props.metaImage} />
      ) : null
    }
    <meta property="og:description" content={Astro.props.metaDescription} />
    <meta property="og:site_name" content="ZMC.DEV" />
    <meta property="og:locale" content="en_US" />
    <title>{pageTitle}</title>
    <script
      is:inline
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-6R3Z7ZBR19"
    ></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-6R3Z7ZBR19");
    </script>
  </head>
  <body>
    <div>
      <Header {isIndex} />
      <main>
        <slot />
        {socials.length > 0 ? <SocialList {socials} /> : null}
      </main>
    </div>
  </body>
</html>

<style lang="scss">
  body {
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: rgb(182, 233, 255);
    padding: 1rem 0;
    background: linear-gradient(
      90deg,
      rgba(255, 183, 121, 1) 0%,
      rgba(182, 233, 255, 1) 50%,
      rgba(255, 183, 121, 1) 100%
    );
    background-size: 400%;
    animation: gradient 300s ease infinite;
    display: flex;
    min-width: 0;
    align-items: center;
    justify-content: center;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 400% 400%;
    }
  }
  div {
    max-width: 50rem;
    min-width: 0;
  }
  main {
    margin: 1rem;
  }
  @media print {
    body {
      background: none;
    }
    main {
      margin: 0;
    }
  }
</style>
