---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "@astrojs/image/components";

const { frontmatter } = Astro.props;

let date = new Date(frontmatter.date + "T12:00:00").toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

if (date === "Invalid Date") {
  date = frontmatter.date;
}
---

<BaseLayout pageTitle={frontmatter.title + " - ZMC.DEV"} metaDescription={frontmatter.description}>
  <article class="post">
    <a class="all-posts" href="/posts">&larr; View All Posts</a>
    <Image
      src={frontmatter.image ? frontmatter.image.url : "/journalist-on-laptop.png"}
      alt={frontmatter.image ? frontmatter.image.alt : "AI-generated image of journalist on laptop"}
      aspectRatio={3 / 2}
      width={1000}
    />
    <div class="post-meta">
      <p class="publish-date">
        {date}
      </p>
      {
        frontmatter.tags && (
          <div class="tags">
            {frontmatter.tags.map((tag: string) => (
              <p class="tag">
                <a href={`/posts/tags/${tag}`}>{tag}</a>
              </p>
            ))}
          </div>
        )
      }
    </div>
    <h1 class="post-title">{frontmatter.title}</h1>
    {frontmatter.description && <p class="post-description">{frontmatter.description}</p>}
    <slot />
  </article>
</BaseLayout>

<style is:global>
  article.post > a.all-posts {
    display: block;
    margin-bottom: 1rem;
    border: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  article.post {
    background: #ffffff55;
    border: 1px solid #ffffff77;
    box-shadow: 0 0 0.5rem 0.1rem #00000011;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
  }
  article.post > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }
  article.post > h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 200;
    margin: 0 -1rem;
    margin-bottom: 1rem;
    background: #ffffff33;
    border: 1px solid #ffffff44;
    border-width: 1px 0;
    padding: 0.5rem 1rem;
  }
  article.post > h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  h1.post-title {
    font-size: 2.4rem;
    word-wrap: break-word;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 800;
    text-align: left;
  }
  div.post-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  p.publish-date {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.15rem;
  }
  p.tag {
    display: inline-block;
  }
  div.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  div.tags > p.tag > a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.15rem;
    background: #00000077;
    border-radius: 0.25rem;
    color: #ffffff;
    transition: all 0.1s ease;
  }
  div.tags > p.tag > a:hover {
    background: #ffffff99;
    color: #000000;
  }
  p.post-description {
    font-size: 0.8rem;
    line-height: 1.5;
    font-style: italic;
    padding: 0.5rem 1rem;
    background: #ffffff77;
    border: 1px solid #00000022;
    border-radius: 0.25rem;
  }
  article.post pre {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.25rem;
    overflow: hidden;
  }
  article.post a {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
  }
  article.post a:hover {
    color: #000000;
  }
  article.post a:visited {
    color: #777777;
  }
  article.post a:visited:hover {
    color: #000000;
  }
  article.post p {
    margin-bottom: 1rem;
  }
  article.post > p > code {
    background: #ffffff77;
    padding: 0.1rem 0.25rem;
    border-radius: 0.25rem;
  }
  article.post > blockquote {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.25rem;
    overflow: hidden;
    background: #00000011;
    border: 1px solid #00000011;
    border-left-width: 0.25rem;
  }
  article.post > blockquote > p > code {
    background: #00000011;
    padding: 0.1rem 0.25rem;
    border-radius: 0.25rem;
  }
  article.post > blockquote > p {
    margin: 0;
  }
  article.post > img {
    border-radius: 0.25rem;
  }
  article.post > *:last-child {
    margin-bottom: 0;
  }
  article.post > hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid #00000011;
    border-bottom: 1px solid #ffffff55;
  }
</style>
