---
import { Image } from "astro:assets";
import type { getCollection } from "astro:content";
import DefaultImage from "@images/journalist-on-laptop.png";

interface Props {
  post: Awaited<ReturnType<typeof getCollection<"blog">>>[0];
}

const { post } = Astro.props;
let date = new Date(post.data.date + "T12:00:00").toLocaleDateString(
  "en-US",
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  },
);

if (date === "Invalid Date") {
  date = post.data.date;
}
---

<a href={`/posts/${post.id}`}>
  <article>
    <Image
      src={post.data.cover ? post.data.cover.image : DefaultImage}
      class="w-full h-full object-cover rounded-lg -z-1"
      transition:name={`post-cover-${post.id}`}
      alt={post.data.cover
        ? post.data.cover.alt
        : "AI-generated image of journalist on laptop"}
    />
    <header>
      <h2>{post.data.title}</h2>
      <p>{post.data.description}</p>
    </header>
    <footer>
      <div>
        <p>
          <time datetime={date}>
            {date}
          </time>
        </p>
      </div>
      <div>
        {post.data.tags.map((tag: string) => <p>{tag}</p>)}
      </div>
    </footer>
  </article>
</a>

<style lang="scss">
  @reference "tailwindcss";

  a {
    @apply text-inherit;
    @apply no-underline;

    > article {
      @apply relative;
      @apply rounded-2xl;
      @apply overflow-hidden;
      @apply shadow-lg;
      @apply transition-all;
      @apply z-1;
      @apply font-sans;
      @apply text-sm;
      @apply hover:shadow-2xl/60;
      @apply active:shadow-lg/40;
      @apply hover:scale-105;
      @apply active:scale-[102.5%];

      > header {
        > p {
          @apply m-0;
          @apply px-2;
          @apply py-1;
          @apply text-xs;
          @apply font-normal;
          @apply text-ellipsis;
          @apply tracking-wider;
        }
        > h2, > p {
          @apply text-ellipsis;
          @apply overflow-hidden;
          @apply whitespace-nowrap;
        }
        > h2 {
          @apply m-0;
          @apply px-2 py-1;
          @apply text-xl;
          @apply font-semibold;
          @apply tracking-wider;
          @apply uppercase;
          @apply leading-none;
          @apply sm:text-sm;
        }
      }
    }
  }
  header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;
    background: #00000080;
    color: white;
    backdrop-filter: blur(0.5rem);
    border-top: 1px solid #00000099;
  }
  header > p {
    display: none;
  }
  @media (min-width: 450px) {
    header > p {
      display: block;
    }
  }
  footer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.25rem;
    background: #00000080;
    color: white;
    backdrop-filter: blur(0.5rem);
  }
  time {
    padding: 0.25rem 0.5rem;
  }
  footer {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00000099;
  }
  footer > div:last-of-type {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem;
  }
  footer > div > p {
    margin: 0;
    padding: 0.25rem 0.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  footer > div:last-of-type > p {
    border-radius: 0.5rem;
    background: #ffffff22;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
  }
</style>
